@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  background: whitesmoke;
}

h1 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: 'Merriweather', serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(28, 113, 116);
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255,0.8);
}

.loader img{
  position: fixed;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.image-container{
  margin: 10px 30%;
}

.image-container img{
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 20px;
  }

.image-container{
margin: 10px;
}

}

img:hover{
  transform: scale(1.1);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.4);
}